{% for element in elements_list %}
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-background-light-secondary dark:hover:bg-background-dark-secondary">
    <td class="px-6">
      {% if element.service_type.name == 'PURCHASE' %}
        ${{ '%0.10f'|format(element.investments|float) }}
      {% else %}
        {{ '%0.10f'|format(element.investments|float) }} {{ element.currency.name }}
      {% endif %}
    </td>
    <td class="px-6 normal-nums">${{ '%0.10f'|format(element.price|float) }}</td>
    <td class="px-6">
      {% if element.service_type.name == 'PURCHASE' %}
        {{ '%0.10f'|format(element.investments / element.price|float) }} {{ currency.name }}
      {% else %}
        ${{ '%0.10f'|format(element.investments * element.price|float) }}
      {% endif %}
    </td>
  </tr>
  {% if loop.last %}
    {% if element.service_type.name == 'PURCHASE' %}
      {% with statistic=currency.get_purchase_plan_statistics %}
        {% include 'elements/currencies/details/currency_plans_statistic_table_footer.html' %}
      {% endwith %}
    {% else %}
      {% with statistic=currency.get_sale_plan_statistics %}
        {% include 'elements/currencies/details/currency_plans_statistic_table_footer.html' %}
      {% endwith %}
    {% endif %}
  {% endif %}
{% endfor %}

