<tr class="border-4 border-black">
  <td id="total_investments" class="font-bold px-6" {% if profit.total_investments > currency.quantity %}title="Запланировано продать больше, чем есть в наличии."{% endif %}>
    Итого:{% if plan.service_type.name == 'PURCHASE' %}
      <span>${{ '%0.2f'|format(profit.total_investments|float) }}</span>
    {% else %}
      <span class="{% if profit.total_investments > currency.quantity %}text-error{% endif %}">{{ '%0.2f'|format(profit.total_investments|float) }} {{ currency.name }}</span>
      {% if profit.total_investments > currency.quantity %}
        <span class="text-error">ⓘ</span>
      {% endif %}
    {% endif %}
  </td>
  <td id="avg_price" class="font-bold px-6">Среднее: ${{ '%0.10f'|format(profit.avg_price|float) }}</td>
  <td id="total_profit" class="font-bold px-6">
    Итого:{% if plan.service_type.name == 'PURCHASE' %}
      {{ '%0.2f'|format(profit.total_profit|float) }} {{ currency.name }}
    {% else %}
      ${{ '%0.2f'|format(profit.total_profit|float) }}
    {% endif %}
  </td>
  <td></td>
  <td></td>
</tr>
