<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-text-light-secondary-500 dark:text-text-dark-secondary-500">
    <thead class="text-xs text-text-light-900 uppercase bg-background-light-100 dark:bg-background-dark-secondary dark:text-text-dark-secondary-300">
      <tr>
        {% for header in headers  %}
        <th scope="col" class="px-6 py-3">
            {{ header }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% include 'elements/currencies/details/' + table_content %}
    </tbody>
  </table>
</div>
